@{
    ViewData["Title"] = "O nama";
}
<h2>@ViewData["Title"]</h2>

<p class="text-center">
    Jedan od najboljih amaterskih folklornih ansambala Grada Zagreba, FA Zagreb-Markovac, osnovan 1945. snagu i kvalitetu crpi iz velike ljubavi prema folkloru, prema plesu, pjesmi i pravoj umjetnosti prije svega.
    <br/><br />
    Ansambl danas na repertoaru ima preko 60 „živućih“ koreografija iz gotovo svih dijelova Hrvatske: Slavonije, Baranje, Međimurja, Podravine, Posavine, Bilogore, Banije, Žumberka, Prigorja, Karlovačkog pokuplja, Zagorja, Istre, Donjeg Jelenja, Like, otoka Paga, Trogira, Primoštena, Dubrovnika. Više o tome pogledajte ovdje. Također, jedan je od malobrojnih ansambala u Hrvatskoj koji na svom repertoaru ima i raznovrsne koreografije Hrvata izvan Hrvatske (iz Vojvodine-Bunjevački plesovi, Bosanske posavine, Rame, Lašvanske doline, Hercegovine, Gradišća). U prosjeku godišnje postavlja jednu do dvije nove koreografije. Pored toga, uz velik broj koreografija, ansambl izvodi i nemali broj vokalno-instrumentalnih djela, od kojih je i veliki broj hrvatskih tradicijskih božićnih pjesama.
    <br/><br />
    Posebnu pažnju ansambl poklanja izboru odgovarajuće narodne nošnje te se stoga danas može pohvaliti sa velikim fundusom istih (što otkupljenih originala-starinskih narodnih nošnji velike muzejske vrijednosti, što vrlo vjerno izrađenih replika). Na sličan se način pažnja poklanja i izboru narodnih instrumenata, specifičnih za pojedini kraj Hrvatske. Tako se pored tambure koriste i: gajde, ljerica, bubanj, klarinet, samice, dangubice, diple, šargije, mijeh, dvojnice i dr.
    <br/><br />
    U svom radu ansambl surađuje sa brojnim, istaknutim etnolozima, koreolozima, koreografima kako bi scenska primjena folklora imala znanstvenu osnovu i temeljila se na izvornom plesu, muzici i običajima. Među brojnim suradnicima potrebno je istaknuti nekoliko najeminentnijih s kojima je ansambl najviše surađivao, a to su dr.sc. Ivan Ivančan, naš najpoznatiji i najplodniji etnolog i etnokoreograf, koji je dugo godina bio i mentor ovog ansambla, prof. Andrija Ivančan, Gordan Vrankovečki, Miroslav Šilić, Zvonimir Ljevaković, Gordana i Zlatko Potočnik, Ivan Ivančan ml., Marijan Makar, Vladimir Kuraja, Božo Potočnik, Branko Šegović, Siniša Leopold, Mojmir Golemac…
    <br/><br />
    Ansambl već dugi niz godina predstavlja hrvatsku folklornu umjetnost na mnogobrojnim festivalima i pojedinačnim gostovanjima diljem svijeta gdje nailazi na izvrstan prijem publike. Tako je gostovao na festivalima u: Kanadi, Meksiku, Španjolskoj, Francuskoj, Portugalu, Italiji, na Siciliji i Sardiniji, u Austriji, Njemačkoj, Nizozemskoj, Švicarskoj, Mađarskoj, Poljskoj (gdje je Ansambl 1996.g., na međunarodnom festivalu folklora u Zywiecu, pokraj Krakova, u konkurenciji 18 zemalja, osvojio Grand Prix), Rumunjskoj, Bugarskoj, Turskoj, BiH, Sloveniji… Zahvaljujući zapaženim nastupima ansambl svake godine dobiva sve više poziva iz gotovo svih dijelova svijeta.
    <br/><br />
    Tokom godina ansambl je dio svog bogatog programa snimio i prezentirao na nekoliko multimedijalnih izdanja.
    <br/><br />
    Ansambl je vrlo aktivan i na humanitarnom planu te je često sudjelovao, a i sam organizirao humanitarne akcije za pomoć najpotrebitijima („Valentinovo za djecu iz Nazorove“, Valentinovo za djecu iz Doma u Hrvatskom Leskovcu, humanitarni koncerti za teško bolesnu djecu iz Istre, humanitarni koncert za spas siročadi iz Konga…).
</p>
