@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<div>
    <b>
        Folklorni ansambl Zagreb-Markovac<br />
        Nehruov trg 16<br />
        10020 Zagreb, Croatia<br />
        fa.zagreb.markovac@gmail.com<br />
        IBAN: HR7323600001101352770<br />
        </b>
</div>