@{
    ViewData["Title"] = "Stranica dobrodošlice";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na preglednik nastupa folklornog ansambla <br/><b>Zagreb-Markovac</b></h1><br/>
    <h3>Na našoj stranici ćete pronaći informacije o našim nastupima zanimljivosti o ansamblu i naše kontakt informacije.</h3>
    <br/><br /><br /><p><b>Uživajte i živjeli!</b></p>
</div>